{% extends "base.html" %}

{% block side %}
    <div id="tagslist">
        <div id="activetags">
            {% if ctags %}
        <div>Active tags</div>
        {% for tag in ctags %}
            <span>{% include "inc/tag.html" %}</span>
        {% endfor %}
        {% endif %}
        </div>
        
        <span class="header">Taglist</span>
        
        {% for tag in tags %}
            <div>{% include "inc/tag.html" %} {{tag.movies.count }}</div>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <div id="movielist">
        {% for movie in movies %}
            <div class="movie"  id="movie-{{movie.id}}">
                <div class="mainthumb" data-url="{% url "movie-json-detail" movie.id %}">
                    <img src="{{ movie.main_thumb.get_image_url }}">
                </div>
                <div class="actions">
                    {% if perms.movieindex.play_movie %}
                        <a href="{% url "movie-play" movie.id %}" target="_blank">Play</a>
                    {% endif %}
                    {% if perms.movieindex.download_movie %}
                        <a href="{% url "movie-download" movie.id %}" target="_blank">Download</a>
                    {% endif %}
                    {% if user.is_staff %}
                        <a href="{% url "admin:movieindex_movie_change" movie.id %}" target="_blank">Edit</a>
                    {% endif %}
                </div>
                <div class="title">{{ movie.title}}</div>

                <div class="info">
                </div>
                <div class="popupc"></div>
            </div>
        {% endfor %}
        <div id="footer"></div>
    </div>
{% endblock %}