{% extends "base.html" %}

{% block side %}
    <h2>Tags</h2>
    <div id="tags">
        {% for tag in tags %}
            <div>
                {% include "inc/tag.html" %} {{ tag.movies.count }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <h2>Movies</h2>
    <div id="movies">
        {% for movie in object_list %}
            <div class="movie">
                <img src="{{ movie.main_thumb.get_image_url }}">
                <div class="title">{{ movie.title}}</div>
                <div class="tags">
                    {% for tag in movie.get_tags %}
                        {% include "inc/tag.html" %}
                    {% endfor %}
                </div>
                <div class="thumbs" id="thumbs-for-{{movie.id}}">
                    {% for thumb in movie.get_thumbs %}
                        <div class="thumb">
                            <img src="{{ thumb.get_image_url }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}