{% load static %}<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="/static/v2/base.css">
    <script src="/static/v2/jquery-2.0.3.min.js"></script>
    <script src="/static/v2/handlebars-v1.3.0.js"></script>
    <script src="/static/v2/movie.js"></script>
    
    <meta charset="UTF-8">
    <title>Movies</title>
</head>

<body>
    <div id="top">
        <span><a href="{% url "movie-list" %}">Movies</a></span>
        <span><a href="{% url "moviefolder-list" %}">Folders</a></span>
        {% if user.is_staff %}<span><a href="{% url "admin:index" %}">Admin</a></span>{% endif %}
        {% include "inc/paginate.html" %}
    </div>
    <div id="side">
        {% block side %}
        {% endblock %}
    </div>
    <div id="main">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>